<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro de usuario</h1>
    
    <form action="/register" method="post">
        Gmail:
        <input type="email" name="gmail" id="gmail"><br><br>

        Contraseña:
        <input type="password" name="contraseña" id="contraseña"><br><br>

        <input type="submit" value="Registrar" onclick="setFormAction('/register')">
        <Link to="/sesion">
        <input type="submit" value="Iniciar Sesion" onclick="setFormAction('/login')">
        </Link>


    </form>

</body>
</html>